DB_HOST = # host de la base de datos
DB_USER = # usuario de la base de datos
DB_PASSWORD = # contraseña de la base de datos
DB_NAME = # nombre de la base de datos

PORT  = # puerto en el que se ejecutará el servidor, por ejemplo: 3000

JWT_SECRET = # clave secreta para la generación de tokens JWT!
